@import "tailwindcss";

:root {
	--background: var(--color-neutral-300);
	--foreground: var(--color-neutral-950);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background-color: var(--background);
	color: var(--foreground);
	display: flex;
	flex-direction: column;
	width: auto;
	height: auto;
}

table,
th,
td {
	justify-content: center;
	margin-bottom: 2px;
}
